html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: calc(100% - 50px);
    margin: 0px 25px;
}

.narrow-body {
    width: min(calc(100% - 50px), 600px);
    margin: 0px auto;
}

label {
    margin: 0px 2px;
    font-size: smaller;
}

input {
    margin: 0px 2px 5px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.submit-button {
    color: black;
    background-color: lightgray;
    border: 0px;
    border-radius: 8px;
    font-size: larger;
    margin: 12px 0px 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: gray;
}

a {
    font-size: smaller;
    text-decoration: none;
    color: cornflowerblue;
}

#classrooms {
    flex: auto;
    display: flex;
}

.classroom {
    width: 300px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 12px;
    margin: 25px;
    display: inline-block;
}

.classroom-name {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5px 0px;
}   

.classroom-section {
    display: block;
    margin: 5px 0px;
}

.classroom-owner {
    display: block;
    margin: 5px 0px;
    font-size: 1.2rem;
}

.add-button {
    color: black;
    background-color: lightgray;
    border: 0px;
    border-radius: 100px;
    font-size: 2.5rem;
    padding: 0px 10px;
    cursor: pointer;
    margin: 0px;
}

.add-button:hover {
    background-color: gray;
}

.inline-input-button {
    display: inline-block;  
}

#classroom-code {   
    margin: 0px 12px;
}