Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.vscode/
.VSCodeCounter/
frontend/.npmrc
frontend/.prettierrc
frontend/.eslintrc.cjs
frontend/.graphqlrc
frontend/.editorconfig
frontend/.svelte-kit/
frontend/node_modules/
frontend/build/
frontend/package/
*.ps1
**/__pycache__/
