jwt_secret_key = "Please change this secret key"
algorithm = "HS256"
access_token_expire_minutes = 86400
classroom_code_length = 8
attachments_storage_path = "app/attachments"
banner_images_storage_path = "app/static/banner-images"
avatar_images_storage_path = "app/avatar-images"
theme_colors = ["#1967d2","#1e8e3e","#e52592","#e8710a","#129eaf","#9334e6","#4285f4","#5f6368"]
